@font-face {
    font-family: "Satanic";
    src: url("fonts/satanic.ttf");
}
@font-face {
    font-family: "hard";
    src: url("fonts/hard.ttf");
}
@font-face {
    font-family: "wewe";
    src: url("fonts/normal.ttf");
}
@keyframes scoreAdd{
    0%{
        transform: scale(1);
        color:white;
    }

    95%{
        transform: scale(1.2);
        color:rgb(0, 194, 0);
    }
}
@keyframes timeleft{
    0%{
        transform: scale(1);
        color:white;
    }

    95%{
        transform: scale(1.3);
        color:red;
    }
}
@keyframes blueline{
    0%{
        width:600px;
    }

    100%{
        width:0px;
    }
}
@keyframes blocked{
    3%{
        height:100%;
    }

    97%{
        height:0%;
    }
}
body{
    background-color:#333;
    padding:0px;
    margin:0px;
    overflow:hidden;
    color:white;
    -webkit-tap-highlight-color: transparent;
    font-family:arial;
}

#gamestop{
    height:400px;
    width:600px;
    display:none;
    top:45%;
    background-color:rgba(25, 25, 25, 0.97);
    border-radius:60px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:999;
    position:absolute;    
    border:2px solid rgba(220, 20, 60, 0.8);
}

#tov{
    font-size:36px;
    text-align:center;
    height:60px;
    width:450px;
    background-color:#252525;
    margin:auto;
    border:2px solid rgba(220, 20, 60, 0.8);
    border-top:0px;
    border-radius:0px 0px 6px 6px;
    line-height:60px;
}

#donescore{
    text-align: center;
    line-height:70px;
    height:70px;
    font-size:34px;
    color:wheat;
    margin-top:10px;
}

#ds{
    color:lime;
}

#restButtons{
    margin:100px auto 0px auto;
    height:100px;
    width:300px;
}

#blocked{
    height:100%;
    width:100%;
    border-radius:7px;
    background-color:rgba(80, 80, 80, 0.7);
    display:none;
}

.blockedanimation{
    animation:1s blocked linear;
    display:block !important;
}

#retry{
    float:left;
    width:100px;
    height:inherit;
    background-image:url('imgs/retry.png');
    background-size:100%;
    background-position:center;
    background-repeat:no-repeat;
    cursor:pointer;
}

#mainmenu{
    float:right; 
    width:100px;
    height:inherit;
    background-image:url('imgs/menu.png');
    background-size:100%;
    background-position:center;
    background-repeat:no-repeat;
}

#blurall{
    position:absolute;
    display:none;
    height:110%;
    top:-50px;
    background-color:rgba(0, 0, 0, 0.8);
    z-index:998;
    backdrop-filter:blur(4px);
    width:100%;
}

#gamename{
    border:2px solid #683f3f;
    border-radius:4px;
    background-color:#494949;
    left:25px;
    top:10px;
    width:300px;
    user-select: none;
    height:100px;
    color:blanchedalmond;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    line-height:100px;
    font-size:38px;
    position:absolute;
    text-align:center;
}

#gm-title{
    margin:25px auto 0px auto;
    text-align:center;
    background-color:#dfcaa5;
    width:520px;
    height:50px;
    user-select: none;
    font-size:30px;
    color:#754c00;
    border-radius:3px;
    line-height:50px;
}

#gamemodes{
    width:990px;
    height:90px;
    margin:10px auto 0px auto;
}

.modebox{
    background-color:rgba(211, 191, 155, 1);
    height:inherit;
    transition:all 0.07s linear;
    width:270px;
    border-radius:3px;
    user-select: none;
    color:#2b2821;
    text-align:center;
    line-height:90px;
    font-size:27px;
    margin:0px 30px 0px 30px;
    float:left;
    cursor: pointer;
}

#normal{
    font-family:wewe;
    font-size:40px;
}

#harder{
    font-family:hard;
    font-size:35px;
}

#satanic{
    font-family:satanic;
    line-height:110px;
    height:90px;
}



.modeblur{
    z-index:10;
    filter: blur(0.4px);
    width:100%;
    height:100%;
    z-index:1000;
    transition:1s all linear;
    background-color:rgba(70, 70, 70, 0.5);
    border-radius:3px;
}

#times{
    width:560px;
    height:90px;
    margin:55px auto 0px auto;
    user-select: none;
}

#score{
    border:2px solid #2e2e2e;
    border-bottom:0px;
    width:320px;
    margin-left:30px;
    height:inherit;
    float:left;
    border-radius:8px 8px 0px 0px;
    background-color:#242424;
    font-size:34px;
    text-align:center;
    line-height:90px;
}

.animate{
    animation:0.15s scoreAdd 1;
}

#timeleft{
    width:70px;
    height:70px;
    float:right;
    background-color:#292929;
    border-radius:8px 8px 0px 0px;
    text-align:center;
    line-height:70px;
    font-size:24px;
    color:white;
    margin-right:35px;
    margin-top:20px;
    border:2px solid #2e2e2e;
    border-bottom:0px;
    transition:0.4s color linear;
}

.timeleftanim{
    animation:0.2s timeleft linear;
}

#main{
    height:560px;
    width:560px;
    outline:1px solid #292929;
    margin:2px auto 0px auto;
    position:relative;
    cursor: pointer;
}

.tap{
    height:140px;
    width:140px;
    background-color:#2D2D30;
    outline:1px solid #39393D;
    float:left;
    transition: all 0.1s linear;
}

.ready{
    background-color:#B8B9BC;
}

#customs{
    background-color:#A62639;
    border:1px solid red;
    padding:15px;
    user-select: none;
    cursor:auto;
    left:20px;
    top:150px;
    position:absolute;
    width:145px;
    height:285px;
    font-size:20px;
}

#Deaths{
    transform: scale(1.3);
}

#Ttk{
    transform: scale(1.3);
}

#bl-wrap{
    width:600px;
    height:0px;
    padding:15px 25px 20px 25px;
    background-color:black;
    margin:20px auto 0px auto;
}

#blueline{
    border:2px solid red;
    width:600px;
    height:2px;
    background-color:red;
    margin-right:0px;
}

.normal{
    animation:0.8s blueline linear;
}

.harder{
    animation:0.4s blueline linear;
}

.satanic{
    animation:0.25s blueline linear;
}